<!DOCTYPE html>
<html>
<head>
    <title>Etüt Listesi</title>
</head>
<body>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">🚪 Çıkış Yap</button>
    </form>
    
    

    <h2>Etüt Listesi</h2>

    <p>Merhaba, {{ user.username }} 👋</p>
       

    <h3>Mevcut Etütler:</h3>
    <ul>
    
    {% for etut in etutler %}
        <li>
            📅 {{ etut.tarih }} - 🕒 {{ etut.saat }} | 👨‍🏫 {{ etut.ogretmen.username }}  
            - <strong>Durum:</strong> {{ etut.durum }}

            {% if etut.durum == 'bos' and  request.user.profil.rol == "ogrenci"%}
                | <a href="{% url 'etut_rezerve' etut.id %}"> Rezerve Et</a>
            {% elif etut.ogrenci == user %}
                | <a href="{% url 'etut_iptal' etut.id %}">İptal Et</a>
            {% endif %}
        </li>
    {% empty %}
        <li>Henüz hiç etüt eklenmemiş.</li>
    {% endfor %}
    </ul>
    {% if request.user.profil.rol == "ogretmen" %}
    <a href="{% url 'etut_ekle' %}">➕ Etüt Ekle</a>
    <h3>Oluşturduğunuz Etütler:</h3>
    <table border="1">
        <tr>
            <th>Tarih</th>
            <th>Saat</th>
            <th>Durum</th>
            <th>Alan Öğrenci</th>
        </tr>
        {% for etut in etutler %}
        <tr>
            <td>{{ etut.tarih }}</td>
            <td>{{ etut.saat }}</td>
            <td>{{ etut.durum }}</td>
            <td>
                {% if etut.ogrenci %}
                    {{ etut.ogrenci.username }}
                {% else %}
                    Henüz alınmadı
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    
    {% if request.user.profil.rol == "ogrenci" %}
    <h3>📅 Gelecek Etütler</h3>
    {% if gelecek_etutler %}
    <ul>
    {% for etut in gelecek_etutler %}
        <li>{{ etut.tarih }} - {{ etut.saat }} | {{ etut.ogretmen.username }}</li>
    {% endfor %}
    </ul>
    {% else %}
    <p>Gelecek etütünüz yok.</p>
    {% endif %}

    <hr>

    <h3>🕓 Geçmiş Etütler</h3>
    {% if gecmis_etutler %}
    <ul>
    {% for etut in gecmis_etutler %}
        <li>{{ etut.tarih }} - {{ etut.saat }} | {{ etut.ogretmen.username }}</li>
    {% endfor %}
    </ul>
    {% else %}
    <p>Geçmiş etüt kaydınız yok.</p>
    {% endif %}
    {% endif %}

</body>
</html>
